.booking {
    flex-grow: 1;
    margin-top: 40px;
}
.info {
    margin-bottom: 30px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    .input {
        flex: 1 0 calc(50% - 20px);
        margin-bottom: 30px;
        &:nth-child(even) {
            margin-left: 40px;
        }
    }
}

@media (min-width: 0) and (max-width: 768px) {
    .form {
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        .input {
            flex: 0 0 100%;
            margin-bottom: 20px;
            &:nth-child(even) {
                margin-left: 0;
            }
        }
    }
    .booking {
        margin-top: 20px;
    }
}