.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
.inner {
    display: flex;
    flex-wrap: wrap;
}
.brands {
    flex-grow: 1;
}
.brands_list {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    a {
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        transition: .2s;
        &:hover {
            color: #c6b09f;
        }
    }
}
.block {
    flex: 0 0 50%;
    margin-bottom: 30px;
}
.breadcrumbs {
    margin-top: 50px;
    margin-bottom: 50px !important;
}