.cart {
    flex-grow: 1;
    margin-top: 50px;
}
.inner {
    display: flex;
}
.table_inner {
    flex: 0 0 70%;
}
.total {
    flex: 0 0 30%;
}

.total_inner {
    .title {
        font-size: 24px;
        letter-spacing: 1px;
        font-style: 600px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #D5DAE1;
    }
    .ul {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D5DAE1;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .count,
    .price {
        font-size: 20px;
        letter-spacing: 1px;
    }
    .info {
        margin-bottom: 20px;
    }
}

@media (min-width: 0) and (max-width: 1199px) {
    .inner {
        flex-direction: column;
    }
    .table_inner {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .total {
        flex: 0 0 100%;
    }
    
}