.textarea_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label {
    color: #333F51;
    line-height: 24px;
    margin-bottom: 6px;
}
.textarea {
    background: #FFFFFF;
    border-bottom: 1px solid #D5DAE1;
    padding: 11px 14px;
    width: 100%;
    transition: .2s;
    &:focus {
        border-bottom: 1px solid #949699;
    }
    &_error {
        .input {
            border-bottom: 1px solid #EF5944;
            &::placeholder {
                color: #EF5944;
            }
        }
    }
}
.error {
    color: #EF5944;
    align-self: flex-start;
    margin: 5px 0;
}